@page "/"
@page "/dashboard"
@using System.Collections.Immutable
@using Planner.Clients
@using Planner.Domain

<PageTitle>Dashboard</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">
    <MudIcon Icon="@Icons.Material.Filled.Dashboard" Class="mr-2" />
    Team Dashboard 
</MudText>

<Filters @ref="_filters" />

<ul>
@foreach (var issue in _issues)
{
    <li>@issue.Key</li>
}
</ul>

@inject JiraClient Client;
@inject ISnackbar Snackbar

@code {
    private Filters? _filters;
    private ImmutableList<Issue> _issues = [];

    protected override async Task OnInitializedAsync()
    {
        await Search();
    }

    private async Task Search()
    {
        if(_filters is null) return;
        _issues = await Client.GetIssuesAsync("project = OPNMS AND status in (\"To Do\", \"In Progress\")");
    }
}

