@page "/"
@page "/dashboard"
@using System.Collections.Immutable
@using Planner.Clients
@using Planner.Domain
@using Planner.Model
@using Planner.Services

<PageTitle>Dashboard</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">
    <MudIcon Icon="@Icons.Material.Filled.Dashboard" Class="mr-2" />
    Team Dashboard 
</MudText>

<Filters OnFilterChanged="Search"/>

<ul>
@foreach (var issue in _issues)
{
    <li>@issue.Key</li>
}
</ul>

@inject JiraClient Client;
@inject JqlFilterBuilder QueryBuilder
@inject ISnackbar Snackbar

@code {
    private ImmutableList<Issue> _issues = [];

    private async Task Search(Filter filter)
    {
        try 
        {
            var jql = QueryBuilder.BuildDashboardQuery(filter);
            _issues = await Client.GetIssuesAsync(jql);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Errore durante il recupero delle issue.", Severity.Error);
        }
    }
}

